---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "../../layouts/Layout.astro";
import BankAccountForm from "@components/BankAccount/BankAccountForm.astro";
import { turso } from "src/turso";
import { convertBankAccountDataToJSON } from "@functions/ConvertBankAccountDataToJSON";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";
import bankStatusTextToId from "@functions/statusTextToId";
const { bankAccountID } = Astro.params;

if (!bankAccountID) {
  throw new Error("Error: 'bankAccountID' no está definido en la ruta.");
}

// Obtener los datos de la cuenta bancaria desde la base de datos
const rows = await turso.execute(`SELECT * FROM BankAccounts WHERE bankAccountID = ${bankAccountID}`);
const result = convertBankAccountDataToJSON(rows.toJSON());


if (Astro.request.method === "POST") {
  // Parsear los datos del formulario
  const formData = await Astro.request.formData();

  const bankAccountID = formData.get("bankAccountID");
  const bankID = formData.get("bankID");
  const entityID = formData.get("entityID");
  const entityType = formData.get("entityType");
  const currencyID = formData.get("currencyID");
  const accountTypeID = formData.get("accountTypeID");
  const customerID = formData.get("customerID");
  const statusID = formData.get("statusID");
  const bicCode = formData.get("bicCode");

  // Actualizar la información de la cuenta bancaria
  await turso.execute(`
    UPDATE BankAccounts 
    SET 
      bankID = ${bankID},
      entityID = ${entityID},
      entityType = '${entityType}',
      currencyID = ${currencyID},
      accountTypeID = ${accountTypeID},
      customerID = ${customerID},
      statusID = ${statusID},
      bicCode = '${bicCode}'
    WHERE bankAccountID = ${bankAccountID};
  `);
  
  // Redirigir después de actualizar
  return Astro.redirect(`/bankaccounts`);
}
---

<Layout title="Editar">
  <BankAccountForm selectedBankAccount={result[0]}>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>UPDATE</SubmitBtn>
    </div>
  </BankAccountForm>
</Layout>
