---
import Layout from "../../layouts/Layout.astro";
import TrashIcon from "../../components/ui/icons/TrashIcon.astro";
import EditIcon from "../../components/ui/icons/EditIcon.astro";
import EditRecord from "../../components/ui/Tables/EditRecord.astro";
import ItemStatus from "../../components/ui/Tables/ItemStatus.astro";
import AddRegisterBtn from "../../components/ui/Buttons/AddRegisterBtn.astro";
import { convertBankAccountDataToJSON } from "@functions/ConvertBankAccountDataToJSON";
import { turso } from "src/turso";
import BackBtn from "@components/ui/Buttons/BackBtn.astro";

// Ejecuta una consulta SQL para obtener todas las cuentas bancarias
const rows = await turso.execute('SELECT * FROM BankAccounts');

// Convierte los datos en formato JSON para su uso en la tabla
const data = rows.toJSON();
const result = convertBankAccountDataToJSON(data); // Convierte a formato JSON deseado
---

<Layout title="Bank Accounts">
  <div class="max-w-screen-xl mx-auto px-4 md:px-8">
    <div class="items-start justify-between md:flex">
      <div class="max-w-lg">
        <h3 class="text-gray-800 text-xl font-bold sm:text-2xl dark:text-gray-300">
          Bank Accounts
        </h3>
      </div>
      <div class="mt-3 md:mt-0">
        <AddRegisterBtn/>
      </div>
    </div>
    <div class="mt-6 shadow-sm border rounded-lg overflow-x-auto">
      <table class="w-full table-auto text-sm text-left">
        <thead class="dark:bg-gray-400/20 dark:text-white bg-gray-50 text-gray-600 font-medium border-b">
          <tr>
            <th class="py-3 px-6">Account Number</th>
            <th class="py-3 px-6">Owner Name</th>
            <th class="py-3 px-6">Currency</th> <!-- Cambiado a currency -->
            <th class="py-3 px-6"></th>
          </tr>
        </thead>
        <tbody class="text-gray-600 divide-y">
          {
            result.map((item) => (
              <tr>
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.bankAccountID}</td> <!-- Cambiado a bankAccountID -->
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.customerFullName}</td> <!-- Cambiado a customerFullName -->
                <td class="px-6 py-4 whitespace-nowrap dark:text-white">{item.currency}</td> <!-- Cambiado a currency -->
                <td class="px-6 py-4 whitespace-nowrap dark:text-white capitalize">
                  <ItemStatus status={item.status} />
                </td>
                <td class="flex items-center justify-center gap-4 m-2 text-right px-6 whitespace-nowrap">
                  <EditRecord href={`/bankaccounts/${item.bankAccountID}`}>
                    <EditIcon/>
                  </EditRecord>

                  <a
                    href={`/bankaccounts/delete?bankAccountID=${item.bankAccountID}`} 
                    class="py-2 px-3 inline-block text-white duration-150 font-medium bg-red-600 rounded-lg hover:bg-red-500 active:bg-red-700 md:text-sm"
                  >
                    <TrashIcon/>
                  </a>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </div>
</Layout>
